<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Memória</title>
    <link rel="stylesheet" href="../statics/styles/centroMemoria.css">
</head>

<body>

    <section>
        <nav class="navbar">
            <ul>
                <li>
                    <span class="active">FATEC SJC</span>
                <li>
                <li>
                    <a href="https://fatecsjc-prd.azurewebsites.net/" class="active">HOME</a>
                <li>
                    <a href="#" class="active">INSTITUCIONAL</a>
                </li>
                <li>
                    <a href="#" class="active">CURSOS</a>
                <li>
                    <a href="#" class="active">PROJETOS</a>
                </li>
                </li>
                <li>
                    <a href="#" class="active">ÁREA DO ALUNO</a>
                <li>
                    <a href="#" class="active">ACESSAR</a>
                </li>
                </li>
                </li>
            </ul>
        </nav>
    </section>

    <div class="conteudo">
        <h1>Centro de Memória</h1>
        <div class="conteudo-centro">
            <div class="parque-tec">
                <a href=""><button>Parque Tecnológico</button></a>
            </div>
            <div class="biografia-jessen">
                <a href=""><button>Biografia de Jessen Vidal</button></a>
            </div>
            <div class="historico">
                <a href="" target="_blank"><button>Um Breve Histórico</button></a>
            </div>
            <div class="paula-souza">
                <a href="https://drive.google.com/file/d/1FAzaTTTNyuhCLGSeIbCiYwuJUn4RVs78/view"
                    target="_blank"><button>Conheça a história de Paula Souza</button></a>
            </div>
            <div class="video-centro">
                <a href="https://drive.google.com/file/d/1Q_qKN48JRKcLZPD3oFUzTXj9HWI9dD7t/view"
                    target="_blank"><button>Apresentação do Centro de Memória</button></a>
            </div>
            <div class="cesare">
                <a href="https://drive.google.com/file/d/1kEx7Y6QIP42cGZsiFt9sT_MDRUpQJAFQ/view"
                    target="_blank"><button>Conheça Cesare Lattes</button></a>
            </div>
            <div class="guri">
                <a href="https://drive.google.com/file/d/1ynG1--fTR5XDGVaK5ibVri1Q9bzcer9n/view"
                    target="_blank"><button>A chegada do guri na Fatec</button></a>
            </div>
            <div class="EMB">
                <a href="https://drive.google.com/file/d/1ywmQxCu8_YJidnx6I6m2q7V33a8RZZsg/view"
                    target="_blank"><button>EMB-120 na Fatec</button></a>
            </div>
            <div class="sobre-centro">
                <a href=""><button>Sobre o Centro de Memória</button></a>
            </div>
            <div class="bajae">
                <a href="https://drive.google.com/file/d/1i6rj4sdhCGR1HsvqI9UJUphCdsTW2DGo/view"
                    target="_blank"><button>A BAJA SAE Brasil</button></a>
            </div>
            <div class="historia-lab">
                <a href="https://drive.google.com/file/d/1JRpYsQ_UirSIHnmq2_KMN9Mos92aeT9r/view"
                    target="_blank"><button>História do Laboratório de Asas Rotativo e Drones</button></a>
            </div>
            <div class="entrevista">
                <a href="../templates/entrevistas.html"><button>Entrevistas</button></a>
            </div>
        </div>
    </div>

    <div class="bio-vidal">
        <h1>Quem foi Jessen Vidal?</h1>
        <br>
        <p>O Prof. Jessen Vidal nasceu no município pernambucano de Guaranhuns, em 21 de novembro de 1930, filho de
            Sólon Vidal e Katy Leitão Vidal. Na infância e adolescência frequentou o Colégio Presbiteriano XV de
            Novembro de Guaranhuns e em 1950 veio para São José dos Campos para estudar no Instituto Tecnológico de
            Aeronáutica (ITA).Se formou Engenheiro Aeronáutico no ano de 1956, no ano de 1965, tirou o mestrado no ITA e
            em 1971 o doutorado na UNESP. Foi Professor Titular da Divisão de Aeronáutica do ITA, Professor Associado da
            Faculdade de Engenharia Mauá de 1965 a 1970. Reitor do ITA, de 1977 a 1982 e de 1989 a 1994 e Professor
            Titular e Diretor da Faculdade de Engenharia de Guaratinguetá, da UNESP.Foi membro do Conselho Deliberativo
            da FATEC de 1979 a 1981 e do Conselho Estadual de Educação de 1981 a 1984 e Secretário da Educação do Estado
            de São Paulo entre 1982 e 1983. (Governo José Maria Marin). Foi também conselheiro do CREA entre 1967 a 1971
            e participou do conselho da FUNCATE (Fundação de Projetos de Ciência, Aplicações e Tecnologia Espacial) no
            período de 1996 a 2007. Na vida pessoal, casou-se com Priscila de Macedo Custódio Vidal em 1958 e teve como
            filhos. Jessen Custodio Vidal Filho, Priscila Cristina Custódio Vidal Milioni e Ricardo Custódio Vidal.
            Faleceu em 12 de janeiro de 2009 em São José dos Campos, SP. Em 16 de dezembro de 2009 através da lei PL
            379/2009 do deputado Hélio Nishimoto foi dado a denominação de “Professor Jessen Vidal” a Faculdade de
            Tecnologia de São José dos Campos (FATEC).
            <br>
        <div class="fontes">
            <p>Fontes:</p>
            <a
                href="http://www.aeitaonline.com.br/wiki/index.php?title=Jessen_Vidal">http://www.aeitaonline.com.br/wiki/index.php?title=Jessen_Vidal</a>
            <br>
            <a
                href="https://www.al.sp.gov.br/repositorio/legislacao/lei/2009/lei-13875-16.12.2009.html">https://www.al.sp.gov.br/repositorio/legislacao/lei/2009/lei-13875-16.12.2009.html</a>
            <br>
            <a href="https://www.al.sp.gov.br/noticia/?id=262504">https://www.al.sp.gov.br/noticia/?id=262504</a>
        </div>
        </p>
    </div>

    <div class="sobre-parque">
        <h1>O Parque Tecnológico</h1>
        <br>
        <p>O Parque Tecnológico São José dos Campos foi instituído pelo Decreto Municipal nº 12.367/2006, de autoria do
            prefeito Eduardo Cury.Entre 2006 e 2009 o Parque contou com uma estrutura provisória de gestão, sob
            responsabilidade conjugada da Fundação de Amparo à Pesquisa do Estado de São Paulo (Fapesp) e da Prefeitura
            de São José dos Campos.Em 2009, passou a ser gerido pela Associação Parque Tecnológico de São José dos
            Campos (APTSJC), qualificada como Organização Social pela Prefeitura Municipal.O planejamento macro para o
            PqTec foi organizado em três etapas: estruturação (2006-2009), consolidação (2010-2015) e expansão
            (2016-presente).</p>
    </div>

    <div class="breve-historico">
        <h1>Um breve histórico</h1>
        <br>
        <p>A Faculdade de Tecnologia de São José dos Campos foi criada no dia 2 de março de 2006 conforme o Decreto Nº
            50.580 de 2 de março de 2006 publicado no Diário Oficial. E inicialmente ficou instalada nos prédios do
            Parque Tecnológico São José dos Campos.
            No 1º semestre de 2006, iniciou suas atividades com a implantação do Curso de Logística, com ênfase em
            Transportes.No 1º semestre de 2007, foi implantado o curso de Tecnologia em Informática - ênfases em Banco
            de Dados e Redes de Computadores.No 1º semestre de 2009, foi implantado o curso de Tecnologia em Sistemas
            Aeronáuticos - Manutenção e Manufatura Aeronáutica. Em maio de 2011 a Fatec saiu dos prédios do Parque
            Tecnológico São José dos Campos e passou a ocupar prédio próprio.
        </p>
        <br>
        <p>No 2º semestre de 2011, foram implantados os cursos de Tecnologia em Estruturas Leves e Automação
            Aeronáutica, dentro do eixo de Sistemas Aeronáuticos. Neste mesmo semestre foi também implantado no eixo de
            Informática, o curso de Tecnologia em Análise e Desenvolvimento de Sistemas (ADS). No 1º semestre de 2013,
            foram extintos os cursos de Manufatura Aeronáutica e Automação Aeronáutica e em seus lugares foi implantado
            o curso de Tecnologia em Automação e Manufatura Digital. Também neste semestre o curso de Tecnologia em
            Estruturas Leves foi transformado em Tecnologia em Projetos de Estruturas Aeronáuticas (PEA) e foi
            implantado o curso de Tecnologia em Gestão de Produção Industrial (GPI) e o curso de Tecnologia em Banco de
            Dados e Redes de Computadores foi reestruturado e renomeado para Tecnologia em Banco de Dados. No 1º
            semestre de 2015, foi implantado o curso de Tecnologia em Gestão Empresarial na modalidade de Ensino a
            Distância (EAD). No 1º semestre de 2018 o curso de Tecnologia em Automação e Manufatura Digital foi
            transformado em Tecnologia em Manufatura Avançada e foi extinto o curso de Tecnologia em Gestão Empresarial.
            A partir de abril de 2020 até fevereiro de 2022 todos os cursos foram ministrados de maneira remota pela
            Plataforma TEAMS em função da pandemia COVID-19. No 1º semestre de 2021, retorna o curso de Tecnologia em
            Gestão Empresarial na modalidade de Ensino a Distância (EAD) e também foi implantado o curso de Tecnologia
            em Desenvolvimento de Software Multiplataforma.</p>
        <br>
        <div class="fontes">
            <p>Fonte: <a
                    href="https://www.educaedu-brasil.com/centros/fatec--faculdade-de-tecnologia-de-sao-jose-dos-campos-uni2198">https://www.educaedu-brasil.com/centros/fatec--faculdade-de-tecnologia-de-sao-jose-dos-campos-uni2198</a>
            </p>
        </div>
    </div>

    <div class="membros-centro">
        <div class="criacao-centro">
            <h1>Centro de Memória da Fatec de São José dos Campos “Professor Jessen Vidal”</h1>
            <p>Criado pela Portaria 01 de 30 de junho de 2022, para promover o levantamento histórico desta Unidade de
                Ensino, preservar a memória; realizar o inventário do acervo; estimular e inter-relacionar atividades de
                instituição culturais no resgate da memória; estimular a consciência social na pesquisa, conservação do
                patrimônio da educação tecnológica; criar e manter o acervo permanente da memória da Fatec de São José
                dos Campos.</p>
        </div>
        <div class="colaboradores">
            <div class="membros">
                <h1>Membros:</h1>
                <br>
                <p>Gerson Carlos Favalli</p>
                <br>
                <p>Luciana de Abreu Aquino</p>
                <br>
                <p>Sardes Aparecida Batista</p>
                <br>
                <p>Nilo Jerônimo Vieira</p>
                <br>
                <p>Eliane Penha Mergulhão Dias</p>
            </div>

            <div class="participacao">
                <h1>Convidados:</h1>
                <br>
                <p>Elisiane Alves de Oliveira</p>
                <br>
                <p>Julia Kanazawa (Etec Jacareí)</p>
            </div>

            <div class="link-relacao">
                <p>Link relacionado: <a
                        href="http://www.memorias.cpscetec.com.br/acervoVer.php?cma=29">http://www.memorias.cpscetec.com.br/acervoVer.php?cma=29</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>