<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Memória - Entrevistas</title>
    <link rel="stylesheet" href="../statics/styles/entrevistas.css">
</head>

<body>

    <section>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#" class="active">HOME</a>
                <li>
                    <a href="#" class="active">INSTITUCIONAL</a>
                </li>
                <li>
                    <a href="#" class="active">CURSOS</a>
                <li>
                    <a href="#" class="active">PROJETOS</a>
                </li>
                </li>
                <li>
                    <a href="#" class="active">ÁREA DO ALUNO</a>
                <li>
                    <a href="#" class="active">ACESSAR</a>
                </li>
                </li>
                </li>
            </ul>
        </nav>
    </section>

    <a href="#">Voltar</a>

    <div class="conteudo">
        <h1>Centro de Memória - Entrevistas</h1>
        <div class="sobre-pagina">
            <p>Olá! Essa página é dedicada aos professores que foram entrevistados pela Fatec. Saiba quem são.</p>
        </div>
    </div>
    <div class="professores">
        <div class="imagens">
            <img src="../statics/imgs/masanori.png" alt="masanori">
            <img src="../statics/imgs/sales.png" alt="sales">
            <img src="../statics/imgs/jeronimo.png" alt="jeronimo">
            <img src="../statics/imgs/tozi.png" alt="tozi">
        </div>
        <section>
            <nav class="entrevistados">
                <ul>
                    <li>
                        <a href="../templates/masanori.html" class="navegar">Fernando Masanori</a>
                    <li>
                        <a href="../templates/sales.html" class="navegar">Antônio Wellington Sales Rios</a>
                    </li>
                    <li>
                        <a href="../templates/jeronimo.html" class="navegar">Nilo Jeronimo Vieira</a>
                    <li>
                        <a href="#" class="navegar">Luiz Antonio Tozi</a>
                    </li>
                    </li>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</body>

</html>