<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrevista Masanori</title>
    <link rel="stylesheet" href="../statics/styles/masanori.css">
</head>

<body>

    <section>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#" class="active">HOME</a>
                <li>
                    <a href="#" class="active">INSTITUCIONAL</a>
                </li>
                <li>
                    <a href="#" class="active">CURSOS</a>
                <li>
                    <a href="#" class="active">PROJETOS</a>
                </li>
                </li>
                <li>
                    <a href="#" class="active">ÁREA DO ALUNO</a>
                <li>
                    <a href="#" class="active">ACESSAR</a>
                </li>
                </li>
                </li>
            </ul>
        </nav>
    </section>

    <br><br>

    <a href="https://fatecsjc-prd.azurewebsites.net/centro-de-memoria">Voltar</a>

    <br><br>

    <div class="conteudo">
        <h1>Centro de Memória - Entrevistas</h1>
        <br><br>
        <div class="sobre-pagina">
            <p>Olá! Essa página é dedicada aos professores que foram entrevistados pela Fatec. Saiba quem são.</p>
        </div>
    </div>
    <br><br>
    <div class="professores">
        <div class="imagens">
            <img src="../statics/imgs/masanori.png" alt="masanori">
            <img src="../statics/imgs/sales.png" alt="sales">
            <img src="../statics/imgs/jeronimo.png" alt="jeronimo">
            <img src="../statics/imgs/tozi.png" alt="tozi">
        </div>
        <section>
            <nav class="entrevistados">
                <ul>
                    <li>
                        <a href="../templates/masanori.html" class="navegar">Fernando Masanori</a>
                    <li>
                        <a href="../templates/sales.html" class="navegar">Antônio Wellington Sales Rios</a>
                    </li>
                    <li>
                        <a href="../templates/jeronimo.html" class="navegar">Nilo Jeronimo Vieira</a>
                    <li>
                        <a href="../templates/tozi.html" class="navegar">Luiz Antonio Tozi</a>
                    </li>
                    </li>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
    <br>
    <div class="entrevista">
        <div class="introducao">
            <h2>ENTREVISTA PROF. TOZI – 20 SETEMBRO 2024 PARA O CENTRO DE MEMÓRIA</h2>
            <br>
            <p>Entrevistadores:
                <br><br>
                Prof. Gerson Carlos Favalli
                <br>
                Sardes Aparecida Batista – Bibliotecária
                <br>
                Luciana Aquino – Assessora Técnica Administrativa
            </p>
            <br>
            <div class="conhecimentos">
                <P>Possui graduação em Engenharia Naval e Oceânica pela Universidade de São Paulo (USP
                    1994), mestrado em Engenharia de Infraestrutura Aeronáutica pelo Instituto Tecnológico de
                    Aeronáutica (ITA 2005) e doutorado em Engenharia Mecânica - Produção pelo Instituto
                    Tecnológico de Aeronáutica (ITA 2010).
                    <br><br>
                    Foi Secretário Executivo do Ministério da Educação (Vice-Ministro) e Vice Superintendente do
                    Centro Paula Souza.
                    <br><br>
                    É professor em cursos de pós-graduação na Fundação Getúlio Vargas - FGV e em cursos de
                    graduação na FATEC.
                    <br><br>
                    Possui experiências em Conselhos de Administração e em projetos de consultoria junto a
                    importantes empresas e instituições.
                    Atualmente, desde agosto de 2011, é diretor da Faculdade de Tecnologia de São José dos
                    Campos.
                </P>
            </div>
        </div>
        <br><br>
        <div class="dialogo">
            <h1>Prof. Gerson Favalli: Dentro da linha de entrevistas, vamos começar a falar um pouco de você.
                Quem é Luiz Antônio Tozi?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Minha mãe é professora, meu pai foi engenheiro da Embraer. Uma
                criação vocacionada para o ambiente do trabalho liberal com formação católica. Estudei na
                escola João Cursino, escola estadual, onde minha mãe dava aula. Depois fiz o ginásio
                (fundamental 2), e também o colegial (ensino médio) no Instituto São José, um colégio
                Salesiano. Todo mundo ia fazer engenharia, eu fui fazer engenharia também. Em medicina eu
                dei uma sondada, mas achei que era muita responsabilidade. Quase fui veterinário também.
                Passei no vestibular direto na USP, na UNESP e na Unicamp. Aí fui fazer o UNESP, que era mais
                perto. No primeiro semestre teve uma greve e fiz vestibular de novo, passei novamente na
                USP e fui fazer engenharia naval.
                Quando me formei, vi que não queria trabalhar como engenheiro. Então, a USP serviu mais
                como um ambiente de desenvolvimento pessoal. Depois acabei virando empresário. Pois
                nesse período meu pai acabou saindo do Embraer, e mudou todo o contexto no meio do
                caminho.
                Montamos uma empresa de distribuição de alumínio. Na sequência abrimos algumas outras
                empresas no setor de informática. Mas o que eu gostava era de dar aula. Dei aulas depois que
                concluí a graduação. E, como eu era dono dos meus horários e tinha algum tempo, resolvi
                fazer mestrado no Ita.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Como entrou na Fatec?</h1>
            <br>
            <p>A Fatec abriu em 2006 com o curso de Logística, e quando precisaram de professores, lá no
                segundo semestre de funcionamento, ligaram no Ita perguntando se tinha alguém com

                formação aderente e que tinha mestrado. Como eu tinha feito o mestrado por lá, me
                indicaram. Foi assim que eu vim. Não fui um dos pioneiros Eu já tinha dado aula quando eu
                terminei a faculdade. Dava aula no CEFAM, com as normalistas. Até tentei fazer o mestrado
                na área de educação, mas não me aceitaram. Fui lá na USP e falaram, não, você é engenheiro,
                volta pra Poli. Não quiseram nem conversar. Não, aqui a gente não pega engenheiro. E aí eu
                fui para o ITA, não me aceitaram na educação.
                Com a nova LDB eu não podia mais dar aula, se não tivesse licenciatura... Aí que eu fui ver o
                mestrado e falei, licenciatura eu não vou fazer, mas talvez o mestrado dê.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Quais foram as suas primeiras atividades na FATEC antes de virar
                diretor?</h1>
            <br>
            <p>Prof Luiz Antonio Tozi: Professor de logística. E eu comecei com pouquinha aula, umas
                quatro, oito, sei lá. Deu muito trabalho. Lembro do trabalho que deu para preparar essas
                primeiras aulas. E depois foi caminhando, foi crescendo. Foi crescendo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: A mudança das instalações provisórias do Parque Tecnológico para esse
                prédio aqui foi de 2010 para 2011. Qual foi a sua participação?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: E isso foi tudo o Wellington que fez. O Wellington, a Isa e a, acho que
                a Luciana já estava aí, já acompanhou. Então, eu não tive nada a ver com a construção do
                prédio.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Quando você assumiu como diretor?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Foi em agosto de 2011. Eu nunca fui diretor nas instalações
                provisórias no Parque Tecnológico, só fui diretor aqui, no prédio novo. Quando eu vim para
                cá já tinha formado a primeira turma. O Wellington já tinha uns quatro anos de diretor, ou
                cinco, e eu entrei na sequência. Ainda como diretor pró tempore, sem eleição. Porque
                naquela época estávamos sem processo eleitoral de consulta para diretores de Fatecs.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Você chegou aqui com o prédio pronto, mas teve alguma atividade de
                implantação do prédio?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. Eu não precisei fazer nenhuma reunião com a prefeitura para a
                questão de instalação do prédio. Nós fizemos a mudança, e iniciamos as aulas. Pegava até
                caminhão meu lá para fazer isso. Mas assim, para ir mudando as coisas. Mas eu não fiz
                nenhuma reunião com a prefeitura para tratar da implantação e construção do prédio.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Nessa fase da mudança, não tem nenhuma lembrança...</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Na construção do prédio, não fui eu. Foi o Wellington que fez tudo.
                A questão de definição de terreno, layout de prédio, negociar.... Nessa parte eu não participei
                em nada. Era o Wellington, a Isa e a Anna. Quando eu assumi, o prédio já estava pronto, a
                gente estava mudando para cá.
                E aí sim, eu tive muita participação no ambiente externo. Arrumar a iluminação, não tinha
                estrada, não tinha rua, não tinha segurança, não tinha caminho. A estrada era de terra, lá não
                tinha nada. Então assim, toda essa parte eu fiz. Mas do prédio em si, do seu projeto, foi a
                implantação toda com o Wellington. Eu basicamente mantive a equipe. O prédio sempre foi
                colocado dessa forma. A única mudança que eu fiz no prédio foi trazer a direção para cá. A
                direção era onde é a sala do Wellington e dos professores ali, dos coordenadores e eu queria

                pôr a direção no meio das duas direções acadêmicas e para a gente ficar mais perto. Lá estava
                meio isolado.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Agora falando um pouco da Fatec, e vou falar da “tua Fatec”. A Fatec
                sempre foi interessante, e eu sempre acompanhei, da interação do ensino com o ecossistema.
                O que mudou do ecossistema de 2011 para 2024?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. As diretrizes originais dessas pessoas diziam o seguinte, em todo
                parque tecnológico tem que ter uma FATEC. Nunca foi feito isso. Só aqui. E isso nasceu junto,
                na concepção dessas pessoas. Então, era um movimento que vinha típico daquela época, hoje
                esse movimento praticamente não existe mais, hoje o sistema paulista de parques
                tecnológicos mudou, ou está num modelo diferente, mas a concepção das duas coisas foi
                pensada pelas mesmas pessoas como a política pública do Estado. E isso também só foi feito
                aqui, no estado de São Paulo, mas só foi implementado, de fato, aqui. Até pelas
                peculiaridades do professor Raulp ter possibilidade de estar trazendo recursos da prefeitura,
                com a FAPESP financiando. E aí não foi por acaso. Embora a academia nunca gostou de estar
                próximo disso tudo. Mas, como eu venho do setor privado, embora tenha doutorado, não sou
                um exemplar típico da academia, para mim fazia todo sentido.
                Então, por isso que essa FATEC ficou diferente das outras, porque ela nunca teve um cerne
                absolutamente acadêmico, embora a gente seja uma das que mais fornece gente para fazer
                mestrado no ITA, INPE e DCTA. E a FATEC também fornece muita gente para o mercado.
                Então, esse aqui é um protótipo que deu certo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Então, a FATEC estar junto do parque tecnológico não é uma
                coincidência.</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. As diretrizes originais dessas pessoas diziam o seguinte, em todo
                parque tecnológico tem que ter uma FATEC. Nunca foi feito isso. Só aqui. E isso nasceu junto,
                na concepção dessas pessoas. Então, era um movimento que vinha típico daquela época, hoje
                esse movimento praticamente não existe mais, hoje o sistema paulista de parques
                tecnológicos mudou, ou está num modelo diferente, mas a concepção das duas coisas foi
                pensada pelas mesmas pessoas como a política pública do Estado. E isso também só foi feito
                aqui, no estado de São Paulo, mas só foi implementado, de fato, aqui. Até pelas
                peculiaridades do professor Raulp ter possibilidade de estar trazendo recursos da prefeitura,
                com a FAPESP financiando. E aí não foi por acaso. Embora a academia nunca gostou de estar
                próximo disso tudo. Mas, como eu venho do setor privado, embora tenha doutorado, não sou
                um exemplar típico da academia, para mim fazia todo sentido.
                Então, por isso que essa FATEC ficou diferente das outras, porque ela nunca teve um cerne
                absolutamente acadêmico, embora a gente seja uma das que mais fornece gente para fazer
                mestrado no ITA, INPE e DCTA. E a FATEC também fornece muita gente para o mercado.
                Então, esse aqui é um protótipo que deu certo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Em São Bernardo do Campo, a FATEC era a Escola Técnica Industrial.
                Como fornecedora de mão de obra de indústria automobilística?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Então, mas é diferente. É... Existem dois movimentos. Um
                movimento, que é o movimento de você criar a Escola Técnica como movimento de formação
                de mão de obra. Que não é necessariamente essa visão dessa turma intelectual que pensou
                isso. Esse movimento é um movimento mais getulista.
                Quando o Ensino Técnico é visto como o formador de mão de obra. Que levou a esse certo
                dualismo que a gente vive hoje. O ensino Humboldtiano e o ensino técnico como coisas que
                não se falam. Onde o técnico é o trabalhador e o outro é o pensador... É um paradigma que
                tem que ser desconstruído. Mas o que houve aqui foi bem diferente.
                Você não coloca a formação de mão de obra, mas a formação de mindset. A diferença entre
                a FATEC e uma escola de formação técnica do Senai, por exemplo, é o mindset. É a forma
                como você tenta formar as pessoas e os professores.
                Você não está formando mão de obra para responder a tarefas dadas por um gerente. Você
                está formando gente para pensar e inovar.
                Então por isso que você juntava esses dois mundos. Você trazia gente com visão aplicada para
                ter ideias no parque tecnológico. Então você junta pessoas, problemas e soluções. E é o cerne
                de isso tudo, por isso, a palavrinha inovação.
                Isso quase não dá certo no Brasil. Aqui deu parcialmente. E é por isso que a FATEC de São José
                é diferente. Porque ela nunca pensou em formar, pelo menos desde que nós estamos nesse
                prédio, em formar mão de obra. Ela sempre trabalhou colaborativamente no sentido de
                inovar na formação de pessoas para trazer novos olhares. Porque ela nasceu junto com o
                programa de parques tecnológicos, cujo objetivo tinha inovação no centro.
                Hoje, acho que isso ainda é válido.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Em São Bernardo do Campo, a FATEC era a Escola Técnica Industrial.
                Como fornecedora de mão de obra de indústria automobilística?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Então, mas é diferente. É... Existem dois movimentos. Um
                movimento, que é o movimento de você criar a Escola Técnica como movimento de formação
                de mão de obra. Que não é necessariamente essa visão dessa turma intelectual que pensou
                isso. Esse movimento é um movimento mais getulista.
                Quando o Ensino Técnico é visto como o formador de mão de obra. Que levou a esse certo
                dualismo que a gente vive hoje. O ensino Humboldtiano e o ensino técnico como coisas que
                não se falam. Onde o técnico é o trabalhador e o outro é o pensador... É um paradigma que
                tem que ser desconstruído. Mas o que houve aqui foi bem diferente.
                Você não coloca a formação de mão de obra, mas a formação de mindset. A diferença entre
                a FATEC e uma escola de formação técnica do Senai, por exemplo, é o mindset. É a forma
                como você tenta formar as pessoas e os professores.
                Você não está formando mão de obra para responder a tarefas dadas por um gerente. Você
                está formando gente para pensar e inovar.
                Então por isso que você juntava esses dois mundos. Você trazia gente com visão aplicada para
                ter ideias no parque tecnológico. Então você junta pessoas, problemas e soluções. E é o cerne
                de isso tudo, por isso, a palavrinha inovação.
                Isso quase não dá certo no Brasil. Aqui deu parcialmente. E é por isso que a FATEC de São José
                é diferente. Porque ela nunca pensou em formar, pelo menos desde que nós estamos nesse
                prédio, em formar mão de obra. Ela sempre trabalhou colaborativamente no sentido de
                inovar na formação de pessoas para trazer novos olhares. Porque ela nasceu junto com o
                programa de parques tecnológicos, cujo objetivo tinha inovação no centro.
                Hoje, acho que isso ainda é válido.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Hoje está funcionando isso dessa maneira ou você considera que foi um
                sonho de uma noite de verão de anos atrás?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. Eu acho que hoje é que nós estamos chegando num processo
                de amadurecimento. Hoje a gente conseguiu amadurecer. No sentido de que antes a gente
                via que era um sonho de uma noite de verão. Hoje você já conseguiu tangenciar esse sonho
                em alguns pontos. Não é impossível. Esse processo tem umas referências internacionais, mais
                conhecida é o Olin College, em Boston. Onde você forma engenheiros com hands-on. Temos
                as inciativas do MIT, do CDIO, mas também de Singapura que a Embraer trazia gente para
                fazer projeto aqui, que também são elementos que vêm da mesma origem de pensamento.
                Então hoje você tem um processo muito mais maduro. Porque embora o estímulo a formação
                de parques tecnológicos tenha se esgotado, porque o modelo que nós aplicamos, da tríplice
                hélice, no Brasil não funciona muito bem, infelizmente, a FATEC São José, conseguiu achar um
                caminho e isso a diferencia das outras escolas em geral. E é por isso que a gente tem uma
                certa participação no cenário nacional, uma certa visibilidade no cenário nacional, porque a
                gente conseguiu achar um modelo que tropicaliza a tríplice hélice dentro das condições
                mínimas para que ela possa trazer resultados. Então hoje, assim, quando a gente conseguiu
                a certificação no CDIO e desenvolveu as metodologias internas aqui, as APIs, essas são
                evidências da transformação do conceito em procedimentos pedagógicos.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Hoje está funcionando isso dessa maneira ou você considera que foi um
                sonho de uma noite de verão de anos atrás?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. Eu acho que hoje é que nós estamos chegando num processo
                de amadurecimento. Hoje a gente conseguiu amadurecer. No sentido de que antes a gente
                via que era um sonho de uma noite de verão. Hoje você já conseguiu tangenciar esse sonho
                em alguns pontos. Não é impossível. Esse processo tem umas referências internacionais, mais
                conhecida é o Olin College, em Boston. Onde você forma engenheiros com hands-on. Temos
                as inciativas do MIT, do CDIO, mas também de Singapura que a Embraer trazia gente para
                fazer projeto aqui, que também são elementos que vêm da mesma origem de pensamento.
                Então hoje você tem um processo muito mais maduro. Porque embora o estímulo a formação
                de parques tecnológicos tenha se esgotado, porque o modelo que nós aplicamos, da tríplice
                hélice, no Brasil não funciona muito bem, infelizmente, a FATEC São José, conseguiu achar um
                caminho e isso a diferencia das outras escolas em geral. E é por isso que a gente tem uma
                certa participação no cenário nacional, uma certa visibilidade no cenário nacional, porque a
                gente conseguiu achar um modelo que tropicaliza a tríplice hélice dentro das condições
                mínimas para que ela possa trazer resultados. Então hoje, assim, quando a gente conseguiu
                a certificação no CDIO e desenvolveu as metodologias internas aqui, as APIs, essas são
                evidências da transformação do conceito em procedimentos pedagógicos.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: O que seria a tríplice hélice?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: É você juntar governo, academia e as empresas em um ambiente
                tecnológico. Eles pensaram o parque tecnológico como aqueles terrários, em que lá fora está
                tudo - 10 graus e lá dentro tem uma floresta amazônica, com calor. Eles imaginavam que os
                parques tecnológicos seriam isso. Então assim, vamos criar uma cúpula onde nós vamos pôr
                os caras que não se falam aqui criando um ambiente artificial e quem sabe eles conversem
                entre si. É óbvio que não deu muito certo. Mas era isso. O parque tecnológico na essência é
                isso. Um ambiente protegido, climatizado para que as instituições pudessem conversar.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: E hoje qual é a visão do parque de inovação tecnológica? O nome
                mudou.....</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Mudou. Mudou porque mudou houve uma evolução do mindset do
                professor Raulp, que representava uma visão mais acadêmica do parque tecnológico. Então
                você tem hoje uma visão mais utilitária, mais próxima dos empresários e muito menos
                acadêmica. Ainda não dá para dizer qual é melhor. Acho que tudo é uma questão de tempo.
                Tem seu tempo. Melhorou a parte de relacionamento, mas teve alguns reveses em pontos
                mais técnicos. Mas de uma forma ou de outra o parque vem evoluindo. Agora como a política
                pública que orientou a criação foi transformada, hoje eu sinto que está tudo muito solto.
                E cada um está criando o seu próprio mecanismo. Você tinha um parque muito importante
                em Florianópolis que meio que desarranjou também.
                O parque de Sorocaba nunca decolou fortemente, mas tem um parque respeitável que está
                sempre crescendo.
                Minha percepção é que nós estamos meio que estagnados. A gente está vivendo um processo
                de transição. Esse é o grande problema. Esse é o grande desafio da região de São José. Para
                que caminho nós vamos?</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Qual foi a lição da pandemia? Hoje, já dois anos e meio depois da
                pandemia, a gente já consegue ver a pandemia como um fato histórico.</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Nós aprendemos que gente é importante. Acho que foi isso que nós
                aprendemos. Porque antes da pandemia todo mundo dizia que o ensino vai ser híbrido. O
                ensino vai ser não sei o que. O ensino vai ser totalmente on line. Depois da pandemia a gente
                descobriu que gente é importante. Então não adianta você montar modelos de futuro para o
                setor da educação e para a tecnologia, onde não tenham as pessoas próximas.
                Quando nasceu a filosofia, logo depois, com o Platão, o que esses caras fundaram? A
                academia, que era o lugar onde as pessoas se reuniam para aprender de forma mais eficiente.
                Então não dá pra você separar as pessoas... Eu não acho que a aprendizagem é um processo.
                A aprendizagem é um fenômeno humano. O fato de a gente querer processualizar a
                aprendizagem é uma tendência da mesma época que a gente processualizou os ambientes
                industriais. Adoramos botar as coisas nas caixinhas. A pandemia provou que a aprendizagem
                não é um processo. A aprendizagem depende de relações humanas, das pessoas se falando.
                Então, a aprendizagem é um fenômeno humano. Não é um processo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Creio que a inteligência artificial não é uma inteligência. Porque a
                inteligência é própria do ser humano. A máquina reproduz muito melhor, mas ela não é
                inteligência.</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: A máquina não é criativa. É que hoje nós estamos na primeira
                derivada da inteligência artificial. Quando a inteligência artificial começar a se alimentar não
                mais de documentos feitos pelo homem, mas por ela mesma, ela vai “emburrecer”</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Ela vive no passado, não no futuro.</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Ela precisa de alguém. Então, por isso você precisa sempre estar
                estimulando as pessoas a fazer coisas novas.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Hoje, para onde nós vamos com tudo isso? Qual o futuro?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Você lembra que durante a pandemia surgiu um texto do Silvio Meira
                dizendo que ia acabar as escolas, que não ia ter mais sentido, porque estava crescendo 85%
                o uso das ferramentas, que todo mundo... Não acho que aquela visão se concretiza mais. Mas
                era uma coisa que a gente estava acreditando. Eu acho que as escolas... Nós estamos falando
                de educação ou estamos falando do resto? Estamos falando de educação. Eu acho que as
                escolas... Para que elas funcionem, elas têm que ter cada vez mais foco nas pessoas.
                E menos nas soluções tecnológicas como base. As soluções tecnológicas têm que ser como
                nas empresas. Ferramentas para aumentar a produtividade e a eficiência.
                Aí eu sinto que nas próprias empresas, durante muitos anos, a gente passou por um processo
                de processualizar tudo. Então eu tinha que... A forma como eu fazia o trabalho, eu tinha que
                descobrir um roteiro, escrever esse roteiro numa caixinha, e tudo que o chefe não queria é
                que você fosse criativo, que você mudasse, ou que você tivesse alguma necessidade de pensar
                em algo diferente. Tinha que fazer exatamente aquilo.
                Isso deu origem à processualização das coisas. Então os ERPs, todos os sistemas, foram
                modelados nos últimos 40 anos no ambiente industrial para isso. Porém, a educação começou
                a fazer isso também.
                Ela começou a procurar seus processos e começou a pôr nas caixinhas. Daí a botar
                plataformas na sala de aula foi um pulo. E o que a pandemia pra mim mostrou é que isso não
                funciona.
                E o fato de as empresas agora exigirem soft skills, que na nossa época nunca foi pedido, é
                porque eles descobriram que as caixinhas não funcionam para sempre nem nas empresas.
                Então o soft skills é uma reação do mercado à extrema processualização dos ERPs, dos
                sistemas de gestão. A educação tem um tempo diferente.
                E a gente está começando a perceber que talvez no futuro mudem a definição de
                aprendizagem, mas voltem como um fenômeno humano. Porque cada um aprende diferente,
                da mesma forma que cada um faz um trabalho diferente.
                Então isso está voltando para o processo educacional. Acho que é isso. Tanto as empresas
                quanto as escolas, as empresas sempre percebem antes, nos tempos atuais. Ou seja, o soft
                skills é importante porque não dá para processualizar tudo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Hoje, para onde nós vamos com tudo isso? Qual o futuro?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Você lembra que durante a pandemia surgiu um texto do Silvio Meira
                dizendo que ia acabar as escolas, que não ia ter mais sentido, porque estava crescendo 85%
                o uso das ferramentas, que todo mundo... Não acho que aquela visão se concretiza mais. Mas
                era uma coisa que a gente estava acreditando. Eu acho que as escolas... Nós estamos falando
                de educação ou estamos falando do resto? Estamos falando de educação. Eu acho que as
                escolas... Para que elas funcionem, elas têm que ter cada vez mais foco nas pessoas.
                E menos nas soluções tecnológicas como base. As soluções tecnológicas têm que ser como
                nas empresas. Ferramentas para aumentar a produtividade e a eficiência.
                Aí eu sinto que nas próprias empresas, durante muitos anos, a gente passou por um processo
                de processualizar tudo. Então eu tinha que... A forma como eu fazia o trabalho, eu tinha que
                descobrir um roteiro, escrever esse roteiro numa caixinha, e tudo que o chefe não queria é
                que você fosse criativo, que você mudasse, ou que você tivesse alguma necessidade de pensar
                em algo diferente. Tinha que fazer exatamente aquilo.
                Isso deu origem à processualização das coisas. Então os ERPs, todos os sistemas, foram
                modelados nos últimos 40 anos no ambiente industrial para isso. Porém, a educação começou
                a fazer isso também.
                Ela começou a procurar seus processos e começou a pôr nas caixinhas. Daí a botar
                plataformas na sala de aula foi um pulo. E o que a pandemia pra mim mostrou é que isso não
                funciona.
                E o fato de as empresas agora exigirem soft skills, que na nossa época nunca foi pedido, é
                porque eles descobriram que as caixinhas não funcionam para sempre nem nas empresas.
                Então o soft skills é uma reação do mercado à extrema processualização dos ERPs, dos
                sistemas de gestão. A educação tem um tempo diferente.
                E a gente está começando a perceber que talvez no futuro mudem a definição de
                aprendizagem, mas voltem como um fenômeno humano. Porque cada um aprende diferente,
                da mesma forma que cada um faz um trabalho diferente.
                Então isso está voltando para o processo educacional. Acho que é isso. Tanto as empresas
                quanto as escolas, as empresas sempre percebem antes, nos tempos atuais. Ou seja, o soft
                skills é importante porque não dá para processualizar tudo.</p>
            <br><br>
            <h1>Prof. Gerson Favalli: Na minha opinião o grande fator do ensino é forjar o caráter. Qual sua
                opinião?</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Eu acho que hoje, especialmente em uma educação básica, isso se
                perdeu fortemente. E em função de quê? Em função da questão de você preparar o aluno
                não mais para a vida. Infelizmente, acho que o Brasil é um dos poucos países que fazem isso
                no planeta. Ele não prepara o cidadão para a vida durante o ensino médio. Até chamar de
                ensino médio, eu julgo que seja um erro. Tinha que ser um ensino em que chegue ao lugar
                onde você completa a formação do cidadão. Um ensino de formação. O ensino onde você
                completa. E aí, você hoje não faz isso, você prepara ele para fazer prova.
                Então, as escolas de ensino básico, hoje, elas só se preocupam, ou seja, a preocupação
                fundamental delas é o ENEM. E nota que o meu aluno vai tirar no ENEM.

                Então, assim, não vou ensinar o que precisa ser ensinado, porque ele vai ter que ser um ser
                cidadão completo. Eu preciso ensinar aquilo que cai no ENEM e possivelmente nos
                vestibulares, porque o vestibular aqui, para nós, é a Fatec, USP, UNESP e UNICAMP.
                Mas no resto do país, são as federais. Então, assim, eles se preparam para o ENEM, que é a
                conta de acesso para as federais. E o modelo todo é baseado no ENEMs.
                Não tem um vestibular próprio. Então, as escolas são baseadas nisso.
                E as escolas são ranqueadas. Mas o pai, quando chega lá,,, ele vai perguntar que nota a escola
                tira no ENEM. Então, é isso que dirige.
                E as mesmas coisas, infelizmente, os secretários. Nenhum secretário, quando assume, fala eu
                vou melhorar a aprendizagem dos alunos. Vou preparar os melhores para vir.
                Ele fala, vou subir o IDEB. Que é muito malfeito... Ou seja, lá a educação básica a nota é
                medida por habilidade. Não é nem por competência.
                E nós aqui na FATEC de São José, já evoluímos de competência e estamos em atividades
                profissionais. Por isso os projetos. Porque uma competência é composta por muitas
                habilidades. E uma atividade profissional precisa de muitas competências. E aí trabalhar em
                grupo e tal, ....</p>
            <br><br>
            <h1>Sardes Batista: Dentro desse contexto todo, você teve alguma dificuldade nesse período de
                2011 até agora. Teve alguma dificuldade? Algum momento que você teve que superar alguma
                coisa??</h1>
            <br>
            <p>Prof. Luiz Antonio Tozi: Não. Por quê? Porque a equipe o Wellington montou, embora não
                fosse homogênea, era muito boa. Aí eu tenho uma visão. A equipe, quanto mais heterogênea
                é melhor. A equipe era muito boa, embora sempre com conflitos. Por isso que eu acho que é
                bom ter alguns conflitos. Porque eles incomodam para as pessoas, mas são boas para a
                instituição. Então a instituição sempre foi muito bem conduzida pela equipe. O Wellington
                teve um papel fundamental aqui de estruturar o prédio e estruturar a equipe. Eu não pus
                ninguém na equipe. Também não tirei. Eu peguei a equipe do Wellington. Então, assim, meu
                papel foi apenas de trabalhar esse pessoal que já estava aí. Não é o meu perfil ficar mandando
                gente embora e trocando. As pessoas saem porque é da natureza sair.
                Tem pessoas que não saem. Então, acho que assim... Então nunca teve esse problema,
                porque... Assim, as pessoas estão aí. E ninguém é perfeito.
                Mas essa heterogeneidade, esses caráteres, às vezes até conflitantes, para a instituição é
                bom. Porque se fosse todo mundo fazendo a mesma coisa, a gente estava lá atrás.
                E talvez uma das minhas virtudes seja essa. De tentar conciliar esses conflitos de alguma
                maneira. Tentando mostrar que é possível conviver na diversidade.
                Embora as pessoas gostariam de estar em um ambiente onde não tenha conflito. Mas se você
                não tem conflito, você não troca de casca, você não cresce, você não tem crise, você não tem
                crescimento. A pergunta que você fez da origem. Essa relação com o ecossistema. Essa é a
                nossa marca. É a nossa marca para mim. Acho que esse é um ponto onde eu posso ter
                colaborado mais. Como eu disse, eu fiz pouca coisa aqui dentro. Eu fiz mais coisa lá fora. No
                sentido de tentar organizar as visões de tal forma que nosso papel fizesse sentido com esse
                desenvolvimento do ecossistema.
                Então, quando era muito absurdo você trazer gente das empresas, a gente montou aqui
                aquele conselho consultivo externo, com o Lourenção. Que trouxe a ideia lá em 2011 do CDIO.
                Um monte de gente que a gente ouvia, para tentar ir ajustando a forma de ensinar... Ou o
                que ensinar... Para onde deveria estar caminhando. A gente errou muito. Mas também
                aprendemos bastante.

                Então, acho que a escola é diferente. Porque ela não é uma escola acomodada. Nunca foi.
                Ela está sempre em transição. E esses dias mesmo eu acabei de falar para uma pessoa do
                Centro Paula Souza que veio visitar: “Não adianta você querer trazer para a FATEC São José
                soluções prontas”. Aqui é onde a gente sempre inova. Então, aqui é onde a gente faz os
                protótipos e a maior parte das inovações... A gente é ouvido por colégios, faculdades, por
                todo mundo.
                Aqui é um lugar onde a gente busca esse tipo de inovação. Então acho que no futuro a ideia
                é que a gente mantenha esse espírito de inovar. Que é o espírito de estar fazendo, embora a
                inovação seja uma palavra desgastada. Aqui não é o lugar para colocar soluções prontas.
                Por isso que dá um certo problema de conflitos. Tem que ter uma gestão forte. Para que você
                consiga ter autonomia. Porque o mais fácil é só você receber o documento. O mais difícil é
                você não burlar, não descumprir as regras, mas fazer o que você acha que deve fazer
                diferente, para evoluir e melhorar. Esse é o compromisso que eu acho que a FATEC São José
                tem que ter.</p>
        </div>
    </div>
</body>

</html>